<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tickets</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="font-sans bg-gray-100">

  <div class="container mx-auto mt-8">
    <h1 class="text-2xl font-semibold mb-4">My Tickets</h1>

    {{#if tickets.length}}
    <ul>
      {{#each tickets}}
      <li class="bg-white rounded-md shadow-md p-4 mb-4">
        <p class="text-gray-600">Purchase Date: {{this.purchase_datetime}}</p>
        <p class="text-gray-600">Amount: ${{this.amount}}</p>
        <p class="text-gray-600">Code: {{this.code}}</p>

        <a href="/view/checkout/{{this.code}}" class="block p-2 bg-blue-500 text-white rounded-md mt-4 hover:bg-blue-700">
          View Details
        </a>
      </li>
      {{/each}}
    </ul>
    {{else}}
    <p class="text-gray-600">No tickets found.</p>
    {{/if}}

  </div>

</body>

<script src="./public/js/tickets.js"></script>
</html>
